@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  
  font-family: 'Poppins', sans-serif;
}

.variant {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correctAnswer {

  background: #2cb67d;
  padding: 1rem;
  color: #fff;
}

.correctAnswer:after {
  background: #2cb67d;
  color: #fff;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "correct!";
}

.incorrectAnswer {
  background: #ef4565;
  padding: 1rem;
  color:#fff;
}

.incorrectAnswer:after {
  background: #ef4565;
  color:#fff;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "incorrect!";
}
